.container{
    
    height:80vh ;
    display: flex;
    flex-direction: row;
    margin-top: 2em;
    margin-left: 5em;
    margin-right: 5em;
    padding: 1em;
}
.child1{
    margin-left: 2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.child2{
    margin-left: 3em;
    width: 50em;
    overflow: hidden;
}
.frontImg{
    width: 50em;
    height: 37em;
}
h3{
    margin-top: 1em;
}
.btn{
    margin-top: 2em;
    max-width: 8em;
    height: 3em;
    border: 2px;
    border-radius: 20px;
    border-style: solid;
    font-size: large;
    background-color: white;
    color:lightblue
}
button:hover{
    cursor: pointer;
    background-color: black;
}

